asgiref==3.3.1
attrs==20.3.0
Django==3.1.7
graphviz==0.16
importlib-metadata==3.4.0
JsonForm==0.0.2
jsonschema==3.2.0
JsonSir==0.0.2
memory-profiler==0.58.0
mysql-connector-python==8.0.22
numpy==1.19.5
objgraph==3.5.0
pandas==1.2.0
pep8==1.7.1
Pillow==8.1.2
psutil==5.8.0
psycopg2-binary==2.8.6
Pympler==0.9
pyrsistent==0.17.3
python-dateutil==2.8.1
Python-EasyConfig==0.1.7
pytz==2020.5
PyYAML==5.3.1
Resource==0.2.1
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
xdot==1.2
zipp==3.4.0
psycopg2-binary
